<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" href="https://www.nicepng.com/png/detail/120-1200789_dibujo-pelota-png-fs-la-massana.png" />
</head>
<body class="fondo">

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Futbol - <a asp-area="" asp-controller="Home" asp-action="Privacy" style="color:white">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
<style>

    body {
        background-image: url(https://www.wallpapertip.com/wmimgs/2-27176_football-wallpapers-hd-background-pictures-top-soccer-field.jpg);
    }
    .titulo {
        border: 2px solid black;
        color: white;
    }

    img {
        align-items: center;
    }
</style>
</body>
</html>
