@*//@model Apuestas.Controllers.JugadoresController*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Apuestas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" href="https://www.nicepng.com/png/detail/120-1200789_dibujo-pelota-png-fs-la-massana.png" />
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Apuestas</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page"  asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  asp-controller="Login" asp-action="Logout">Logout</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
           
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <button type="button" id="btnSaldo" name="btnSaldo" class="btn btn-outline-success">
            Mostrar Saldo
        </button>
        <form method="post" asp-action="RecorrerLista">
            <button asp-action="RecorrerLista" asp-controller="Historiales" type="submit" class="btn btn-outline-success" id="cobrar">Intentar Cobrar</button>
        </form>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <style>
        body {
            background-image: url(https://images.alphacoders.com/923/923986.jpg);
        }

        h1 {
            color: white;
        }

       
    </style>

    <script>
        $(document).ready(function () {

            $('#btnSaldo').click(function () {
                //alert('hola');

                $.ajax({
                    url: "/jugadores/MostrarSaldo",
                    method: "get",
                    success: function (response) {
                        //$('#render').append(response);
                        //alert('llego');
                        //console.log(response);
                        alert("Tu saldo es de: $" + response)
                    }
                });
            });

        });

        $(document).ready(function () {

            $('#cobrar').click(function () {
            
                $.ajax({
                    url: "/historiales/Apostados",
                    method: "get",
                    success: function (response) {
                        //$('#render').append(response);
                        //alert('llego');
                        //console.log(response);
                        alert("Partidos apostados: " + response)
                    }
                });
            });

        });

    </script>
</body>
</html>


