@{
    ViewData["Title"] = "Home Page";
}

<h1 class="titulo">APUESTAS.COM</h1>



<img src="https://i.gyazo.com/39f49e0b1a536775c4d525c6ae85ef64.png" width:"200px">

<a href="https://localhost:44360/Jugadores/Create">REGISTRO</a>

<style>

    body {
        background-image: url(https://images6.alphacoders.com/107/1077410.png);
    }

    .titulo{
        border:2px solid black;
        color:white;
    }

    img{
        align-items:center;
    }


</style>

