@{
    ViewData["Title"] = "Términos de privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>
    Al registrarse como usuario en nuestra web aceptas los ToS.
    1. Debes ser mayor de 18 años para poder realizar apuestas, esto es debido a las leyes de nuestro país.
    2. Cada usuario es responsable de su cuenta, su uso y sus saldos. Una apuesta mal enviada no puede ser reclamada.
    3. No des tus datos a nadie, la administración jamás te pedirá ningún dato mediante ningún medio.


    Página web creada por las siguientes personas:
    Valentino Indovino Bustos
    Lucas Nahuel Muratore
    Juan Otturi
    Juan Fernando Quiroz Vera

    Fecha de lanzamiento: Noviembre - 2021
</p>
