@{
    ViewData["Title"] = "Términos de privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>
    Al registrarse como usuario en nuestra web aceptas los ToS:
    <br>
    1. Debes ser mayor de 18 años para poder realizar apuestas, esto es debido a las leyes de nuestro país.
    <br>
    2. Cada usuario es responsable de su cuenta, su uso y sus saldos. Una apuesta mal enviada no puede ser reclamada.
    <br>
    3. No des tus datos a nadie, la administración jamás te pedirá ningún dato mediante ningún medio.
    <br>
    <hr>


    Página web creada por las siguientes personas:
    <br>
    Valentino Indovino Bustos
    <br>
    Lucas Nahuel Muratore
    <br>
    Juan Ignacio Otturi
    <br>
    Juan Fernando Quiroz Vera
    <br>

    Fecha de lanzamiento: Noviembre - 2021
</p>

<style>
    h1 {
        color: white;
        font-weight: bold;
    }

    p {
        color: white;
    }
</style>
