

@{
    ViewData["Title"] = "Registro";
}

<h1>Registro</h1>

<p>Antes de jugar tienes que crearte tu usuario!</p>


<form>
    <label>USUARIO</label>
    <br>
    <input type="text" placeholder="Ingrese su usuario" id="usuarioTxt" required>
    <br>
    <label>EDAD</label>
    <br>
    <input type="number" placeholder="Ingrese su edad" id="edadTxt" required>
    <br>
    <label>EMAIL</label>
    <br>
    <input type="email" placeholder="tumail@dominio.com" id="emailTxt" required>
    <br>
    <label>CONTRASEÑA</label>
    <br>
    <input type="password" placeholder="Crea una contraeña segura" id="password" minlenght="6" maxlength="10" required>
    <br>
    <input type="submit" value="CREAR USUARIO" class="boton" onclick="verificar()">
</form>

<style>
    input {
        background-color: #69F5D8;
        width: 250px;
        margin: 5px;
    }

    .boton {
        background-color: #989B9A;
        height: 40px;
        margin-top: 9px;
    }
</style>