@model Apuestas.Models.Jugador

@{
    ViewData["Title"] = "Crea tu usuario";
 
    Layout = "_LayoutLogin";
   
}

<h1>Registrarse</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Usuario</label>
                <input type="text" placeholder="Ingrese su usuario" id="usuarioTxt" required asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edad" class="control-label"></label>
                <input type="number" placeholder="Ingrese su edad (+18)" id="edadTxt" min="18" max="110" required asp-for="Edad" class="form-control" />
                <span asp-validation-for="Edad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input type="email" placeholder="tumail@dominio.com" id="emailTxt" required asp-for="Mail" class="form-control" />
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Contraseña</label>
                <input type="password" placeholder="Crea una contraseña segura" id="password" minlength="6" maxlength="10" required asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<style>
   

    h1 {
        color: white;
        font-weight: bold;
    }

    label {
        color: white;
    }
</style>


