@model Apuestas.Models.Partido

@{
    ViewData["Title"] = "Edita un partido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar Partido</h1>

<h4 style="color: white">Partido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NombreLocal" class="control-label"></label>
                <input asp-for="NombreLocal" class="form-control" />
                <span asp-validation-for="NombreLocal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreVisitante" class="control-label"></label>
                <input asp-for="NombreVisitante" class="form-control" />
                <span asp-validation-for="NombreVisitante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GolesLocal" class="control-label"></label>
                <input asp-for="GolesLocal" class="form-control" />
                <span asp-validation-for="GolesLocal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GolesVisitante" class="control-label"></label>
                <input asp-for="GolesVisitante" class="form-control" />
                <span asp-validation-for="GolesVisitante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>
<style>

   label {
        color: white;
    }
</style>